<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followings_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.follower_users.count %>
    </strong>
    followers
  </a>
  <a href="<%= favoritings_user_path(@user) %>">
    <strong id="favorite" class="stat">
      <%= @user.favorite_microposts.count %>
    </strong>
    つのお気に入り
  </a>  
  
  
  
</div>